In [11]:
import numpy as np
import math
#a = 1088.2500*6.9800
a = 7595.985
#a = [4654654.4564 , 4564.45 , 4548.451]

def redondear(x):
    y = round(x % 1,3)*1000
    print(y)
    print(round(y/1000,2))
    if (y%10 == 0):
        x = round(x,2)
    elif (y%5 != 0):
        x = round(x,2)  
    else:
        x = round(math.trunc(x) + round(y/1000,2) + float(0.01),2)
    z = y%5
    print(x)
     

print((round(a,2)))
redondear(a)

7595.98
985.0
0.98
7595.99

In [37]:
df = pd.DataFrame([{'a': 15, 'b': 15, 'c': 5}, {'a': 20, 'b': 10, 'c': 7}, {'a': 25, 'b': 30, 'c': 9}])
#df['a'] = df['a'].map(lambda a: a / 2.)

def complex_function(x, y=0):
    if x > 5 and x > y:
        return 1
    else:
        return 2

#df['a'] = df['a'].apply(complex_function)

def apply_complex_function(x):
    return complex_function(x['a'])
df['a'] = df.apply(apply_complex_function, axis=1)

df

   a   b  c
0  1  15  5
1  1  10  7
2  1  30  9

In [30]:
#REDONDEADOR

def round_half_up(n, decimals=0):
    multiplier = 10 ** decimals
    return math.floor(n*multiplier + 0.5) / multiplier
a = 7595.985
round_half_up(a, 2)

7595.99

In [42]:
#REDONDEADOR 2 DECIMALES

def round_half_up(n):
    multiplier = 10 ** 2
    return math.floor(n*multiplier + 0.5) / multiplier
a = 7595.985
round_half_up(a)

7595.99

In [75]:
df = pd.DataFrame([{'ppto': 4564.456, 'b': 15, 'c': 5}, {'ppto': 5, 'b': 10, 'c': 7}, {'ppto': 25, 'b': 30, 'c': 9}])
#df['a'] = df['a'].map(lambda a: a / 2.)

def round_2dec(n):
    multiplier = 10 ** 2
    return math.floor(n*multiplier + 0.5) / multiplier

def apply_roundppto(x):
    return round_2dec(x['ppto'])
df['ppto'] = df.apply(apply_roundppto, axis=1)

df

      ppto   b  c
0  4564.46  15  5
1     5.00  10  7
2    25.00  30  9

In [87]:
# Importamos Pandas como pd
import pandas as pd
import numpy as np
import math

# Herramienta de redondeo a 2 decimales
def round_2dec(n):
    multiplier = 10 ** 2
    return math.floor(n*multiplier + 0.5) / multiplier

# Importo datos, salto las primeras columnas de membrete
df = pd.read_csv("./data/data.csv", skiprows=14, sep=";", encoding='utf-8-sig')


# Creo columna de PRESUPUESTO OFERTA
#df["ppto"] = np.round(df["METRADO CONTRACTUAL"] * df["P.U. OFERTA S/."],2)
df["ppto"] = df["METRADO CONTRACTUAL"] * df["P.U. OFERTA S/."]
#df["ppto"] = np.round(df["ppto"],2)

def apply_roundppto(x):
    return round_2dec(x["ppto"])
df["ppto"] = df.apply(apply_roundppto,axis = 1)

#df["ppto"] = round_half_up(df["ppto"],2)
#df["ppto"] = [round_half_up(n, 2) for n in df["ppto"]]
#df["ppto"] = redondear(df["ppto"])
precio = df["ppto"].sum()

# Diccionario
#header_dict = {"ppto" : "PRESUPUESTO_CONTRACTUAL"}

print(df)
print(precio)

              ITEM.                             DESCRIPCION DE PARTIDA UND.  \
0                01  OBRAS PROVISIONALES, TRABAJOS PRELIMINARES, SE...  NaN
1             01.01        OBRAS PROVISIONALES Y TRABAJOS PRELIMINARES  NaN
2          01.01.01                                OBRAS PROVISIONALES  NaN
3       01.01.01.01                       CONSTRUCCIONES PROVISIONALES  NaN
4    01.01.01.01.01   CARTEL DE IDENTIFICACIÓN DE OBRA (8.50m X 3.60m)  und
..              ...                                                ...  ...
218     06.01.03.07                               CURADO DE   CONCRETO   m2
219     06.01.03.08  TAPA DE CONCRETO PARA INSPECCION Y LIMPIEZA SE...  und
220     06.01.03.09                        COMPUERTA METALICA DE IZAJE  und
221              07  PLAN DE MANEJO DE MITIGACION DE IMPACTO AMBIENTAL  NaN
222           07.01                    MITIGACION DE IMPACTO AMBIENTAL  glb

     METRADO CONTRACTUAL  P.U. OFERTA S/.  ACUMULADO ANTERIOR  AVANCE ACTUAL  \
0                   0.00             0.00                0.00           0.00
1                   0.00             0.00                0.00           0.00
2                   0.00             0.00                0.00           0.00
3                   0.00             0.00                0.00           0.00
4                   1.00          2154.83                1.00           0.00
..                   ...              ...                 ...            ...
218             11719.46             1.65             2247.92        2762.75
219               330.00            90.00                0.00           0.00
220                13.00          2700.00                0.00           0.00
221                 0.00             0.00                0.00           0.00
222                 1.00         27140.24                0.00           0.00

         ppto
0        0.00
1        0.00
2        0.00
3        0.00
4     2154.83
..        ...
218  19337.11
219  29700.00
220  35100.00
221      0.00
222  27140.24

[223 rows x 8 columns]
8058151.0

In [2]:
import pandas as pd
df2 = pd.read_csv("./data/data.csv", sep=";", encoding='utf-8-sig', index_col=False, header=None)
df2 = df2.iloc[0:14,0:2]
df2 = df2.fillna(0)

df2

,0,1
0,PROYECTO,“RECONSTRUCCIÓN DE PISTAS Y VEREDAS EN LA AV. ...
1,TRAMO,KM 0+000 - KM 90+115 - KM 0+000 - KM 18+260
2,ENTIDAD (CLIENTE),GOBIERNO REGIONAL DE LIMA METROPOLITANA
3,CONTRATISTA,CONTRATISTA S.A.C.
4,SUPERVISION,CONSORCIO SUPERVISOR
5,CONTRATO Nº,027-2021-MML-PGRLM-SRAF
6,FIRMA DE CONTRATO (FECHA),24/09/2021
7,PLAZO DE EJECUCION,120 días Calendarios
8,INICIO DE OBRA,15 de octubre de 2021
9,TERMINO DE PLAZO CONTRACTUAL,11 de febrero de 2022
10,MONTO CONTRATO,11202117.9
11,Mes de valorizacion,DICIEMBRE
12,Año de valorizacion,2021
13,Numero de valorizacion,4

In [21]:
title = str(df2.iloc[0][1])
title

'“RECONSTRUCCIÓN DE PISTAS Y VEREDAS EN LA AV. LAS TORRES TRAMO DESDE LA AV. CIRCUNVALACIÓN HASTA LA ALTURA DE LA QUINTA AV., L = 1.99 KM DISTRITO DE LURIGANCHO CHOSICA, LIMA – LIMA”. Con código único de inversión (IRI): 2498581'